* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Barlow", sans-serif;
}

// VARIABLES

$primary-orange: #f16718;
$secondary-orange: #ff9b62;
$primary-blue: #162542;
$secondary-blue: #7b8bad;
$primary-gray: #e8eff2;


// Reusable code

.btn {
  text-decoration: none;
      float: right;
      font-size: 1.6rem;
      color: $primary-blue;
      background-color: $primary-gray;
      padding: 1.8rem 3rem;
      border-radius: 1rem;
}


// Code 



body {
  width: 100%;
  align-items: center;
  position: relative;
}

.header {
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 5.8rem;

  .header-main {
    justify-content: center;
    margin-top: 5.5rem;

    img {
      height: 4rem;
      width: 4rem;
      margin: 0.9rem auto;
    }

    a {

      &:hover {
        color: white;
        background-color: $primary-blue;
      }
    }
    
  }
}

.main {
  height: 60vh;
  width: 80%;
  display: flex;
  align-items: center;
  margin: 8.3rem auto;
  

  .main-text {
    margin: 0 auto 0 0;

    h1 {
      font-size: 5.6rem;
      font-weight: 900;
      color: $primary-blue;
    }
    
    p {
      margin-top: 2.4rem;
      font-size: 1.8rem;
      font-weight: 500;
      color: $secondary-blue;
    }

    .main-text--btn {
      display: flex;
      margin-top: 4rem;

      a {
        background-color: $primary-orange;
        color: #ffffff;

        &:hover {
          color: white;
          background-color: $secondary-orange;
        }
      }

      p {
        margin-left: 4rem;
        margin-top: 1.6rem;
      }
    }
  }

  .main-image {
    max-width: 540px;
    max-height: 480px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 3rem;
    }
  }

  .box {
    background-color: $primary-gray;
    width: 110.5px;
    height: 240px;
    position: absolute;
    right: 0;
    top: 12vh;
    border-radius: 20px 0 0 20px;
  }

}

.images {
  height: 480px;
  display: flex;
  gap: 1rem;

  #first-image {
    width: 255px;
    height: 480px;
    border-radius: 11px;
    overflow: hidden;
   
  }

  
   .overlay {
     position: relative;

     span {
      background: $primary-orange;
      height: 100%;
      z-index: 1;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      mix-blend-mode: multiply;
     }
   } 
  
  #second-image {
    width: 445px;
    height: 480px;
    border-radius: 11px;
    
  }
}

.main-two {
  height: 60vh;
  width: 80%;
  display: flex;
  align-items: center;
  margin: 8.3rem auto;
}

.main-text--two {

  align-items: center;
  margin-left: auto;

  h2 {
    color: $primary-blue;
    font-size: 3.2rem;
    line-height: 3.6rem;
    font-weight: 900;
  }

  p {
     margin-top: 2.4rem;
      font-size: 1.8rem;
      font-weight: 500;
      color: $secondary-blue;
  }
}

.box-two {
  background-color: $primary-gray;
    width: 110.5px;
    height: 240px;
    position: absolute;
    left: 0;
    top: 102.5vh;
    border-radius: 0 20px 20px 0;
}


.futures {
  width: 80%;
  height: 60vh;
  display: flex;
  margin: 16.8rem auto;

  .col {
    width: 25%;

    img {
      width: 6.5rem;
      height: 6.5rem;
    }

    h2 {
      font-size: 2.4rem;
      font-weight: 900;
      line-height: 2.8rem;
      color: $primary-blue;
      margin-top: 4.8rem;
    }

    p {
      margin-top: 24px;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.6rem;
      color: $secondary-blue;
    }
  }
}

footer {
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 700;
  color: $secondary-blue;
  text-align: center;
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
   {

    body {
      width: 100%;
    }

    .header {
      margin: 0;
      width: 100%;

      .header-main {
        width: 90%;
        margin: 40px auto;
        }
        
        
    }

    .main {
      margin: 0;
      position: relative;
      width: 100%;

      .main-text  {

        margin-left: 40px;
        width: 100%;

        h1 {
          font-size: 4.8rem;
        }

        p {
          font-size: 1.6rem;
        }
        
        .main-text--btn {
          width: 100%;
          a {
            padding: 2rem 2rem;
          }

          p {
            margin: 1.6rem 0 0 1rem;
          }
        }
      }

      .main-image {
        
        width: 100%;
        overflow: hidden;

        img {
          width: 150%;
          height: 150%;
          margin-left: 33px;
        }
      }
    }

    

    .box {
      display: none;
    }

    .main-two {

      .images {
        margin-left: 40px
      }
    }

    .main-text--two {
      display: flex;
      align-items: center;
      justify-content: space-around;

      p {
        width: 50%;
        text-align: center;
        
       br {
         display: none;
       }
      }
    }

    .box-two {
      display: none;
      
    }

    .futures {
      height: auto;
      margin: 10rem auto;
      flex-wrap: wrap;
      width: 90%;

      .col {
        width: 50%;
        margin-bottom: 2rem;
        
        p {
          width: 90%;
          br {
            display: none;
          }
        }
      }
    }

}